node_modules/

# Hardhat
build/
artifacts/
cache/
flattened/
deployments/localhost/
deployments/hardhat/
deployments/*/solcInputs/

# ?
*.pendingTransactions

# Tenderly
tenderly.yaml

# Environment
.env*
!.env.sample

# Yarn
yarn.lock
yarn-error.log

# NPM
package.lock
package-lock.json
npm-debug.log

# Misc
bin/
*.DS_Store
.vscode